# Pandas Tutorial by [Ali Abdelaal](https://www.linkedin.com/in/aliabdelaal/) 
### this tutorial file was made for [Pixels](https://www.facebook.com/PixelsHU/) Course (Machine Learning)
## Let's Start by installing pandas
### use the following 
sudo apt-get install python-pip  
sudo pip install pandas
### now include the library
import pandas as pd

In [18]:
import pandas as pd

# Reading a csv file with pandas

In [5]:
dataset = pd.read_csv('Position_Salaries.csv')
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

# Getting an element out of the data

In [7]:
elemnet = dataset.iloc[0]['Position']
elemnet

'Business Analyst'

## Getting coloumns out of the data

In [21]:
salaries = dataset.iloc[:,-1]
salaries

0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64

### note that we can get the data as a numpy array by doing the following

In [23]:
numpy_salaries = dataset.iloc[:,-1].values
numpy_salaries

array([  45000,   50000,   60000,   80000,  110000,  150000,  200000,
        300000,  500000, 1000000])

## Getting rows from the data

In [14]:
second_row = dataset.iloc[1,:]
second_row

Position    Junior Consultant
Level                       2
Salary                  50000
Name: 1, dtype: object

# Let's do some operations on the data !

In [17]:
doubled_salaries = salaries*2
doubled_salaries

0      90000
1     100000
2     120000
3     160000
4     220000
5     300000
6     400000
7     600000
8    1000000
9    2000000
Name: Salary, dtype: int64

## Well, That's it for now, yet feel free to explore more [here](https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python#question2)